.app {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.finalMessage {
    text-wrap: balance;
    font-size: 0.7rem;
    color: white;
    text-align: center;
    padding: 0 1rem;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.splashWrapper {
    position: absolute;
    z-index: 1;
    inset: 0;
    backdrop-filter: blur(1px);
}

.splash {
    position: absolute;
    top: calc(50% - 4rem);
    left: calc(50% - 6rem);
    width: 12rem;
    height: 8rem;
    border: 1vh solid #242424;
    background: #dddddd;
    color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.splash button {
    border: 2px solid #242424;
    background: #dddddd;
    color: #242424;
    font-size: 1rem;
}