@font-face {
    font-family: Pix;
    src: url('fonts/pix.woff2') format('woff2'),
    url('fonts/pix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: Pix, system-ui, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    color: rgba(255, 255, 255);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
    text-shadow: 4px 4px 0 #242424;
    -webkit-text-stroke: 0.01em #242424;
}

input {
    font-size: 4rem;
    font-family: inherit;
}

button {
    border-radius: 0;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 4rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
    outline: 4px auto white;
}
